pip>=23.2
setuptools>=68.0
wheel

requests
pymongo
pandas
numpy
scikit-learn
python-dotenv
streamlit
plotly
shap
schedule
matplotlib
seaborn
tensorflow
tensorflow-probability
lime
python-dateutil
pytz
